.main {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'REM';
}

.btn {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: none;
}

#results {
    height: 20px;
    margin: 25px;
}

body {
    background-color: rgb(245, 224, 140);
    display: flex;
    justify-content: center;
}

#rocksymbol, #papersymbol, #scissorssymbol {
    width: auto;
    height: 100px;
}

#papersymbol {
    padding-left: 15px;
}

.buttons {
    display: flex;
    height: 100px;
    width: auto;
    gap: 25px;
}

